.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.img__g4JDm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__g4JDm > picture > img {
  object-fit: cover;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 527px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: -112px;
  padding: 30px;
  border-bottom: 6px solid #fe5737e0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
.h3__ppJu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__zDlSn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__l76X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
  flex-shrink: 0;
}
.svg__rvLu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cNc2T {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__kUu2J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
